# Assignment 3( 2feb)

### question 1

In [ ]:
# Q1. Explain with an example each when to use a for loop and a while loop.

In [ ]:
# For Loop: A for loop is an iteration method that is best used when you know the number of iterations ahead of time. Itâ€™s always followed by the initialization, expression and increment statements.

# While Loop: A while loop is an iteration method that is best used when you don't know the number of iterations ahead of time. The contents of the loop are executed as long as the expression evaluates to true.

In [1]:
# for loop

In [2]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
# while loop

In [3]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

#### question 2

In [ ]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
# and while loop.

In [4]:
sum=0
product=1
i=1
while(i<11):
    sum=sum+i
    product=product*i
    i=i+1
print("sum of first 10 nos: ",sum)
print("product of first 10 nos: ",product)

sum of first 10 nos:  55
product of first 10 nos:  3628800

#### question 3

In [ ]:
#Q3. Create a python program to compute the electricity bill for a household.

# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [7]:
units=int(input("enter units used"))
bill=1
if(units<=100):
    bill=units*4.5
elif(units>100 and units<=200):
    new_unit=units-100
    bill=new_unit*6 + 100*4.5
elif(units>200 and units<=300):
    new_unit=units-200
    bill=new_unit*10 + 100*6 + 100*4.5
else:
    new_unit=units-300
    bill=new_unit*20 + 100*4.5 + 100*6 + 100*10
print(bill)

enter units used 310

2250.0

#### question 4

In [ ]:
#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.

In [17]:
# using for loop
l=[]
l_cubdiv=[]
i=1
while i<101:
    l.append(i)
    if (i**3)%4==0 or (i**3)%5==0:
        l_cubdiv.append(i)
        
    i=i+1
#print(l) 
print(l_cubdiv)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [13]:
# using for loop
=[]
l_cubdiv=[]
for i in range(1,101):
    l.append(i)
    if (i**3)%4==0 or (i**3)%5==0:
        l_cubdiv.append(i)
print(l) 
print("numbers whose cube is divisible by 4 or 5: ")
print(l_cubdiv)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
numbers whose cube is divisible by 4 or 5:
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

#### question 5

In [ ]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [39]:
string="I want to become a data scientist"

In [57]:
l2=[]
string=string.lower()
print(string)
vowels=['a','e','i','o','u']
count=0
for char in string:
    if char in vowels:
        count=count+1
        l2.append(char)
print("number of vowels=",count)
print(l2)

i want to become a data scientist
number of vowels= 12
['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']